@font-face {
  font-family: Inter-Regular;
  src: url(/assets/font/inter/Inter-Regular.ttf);
}

@font-face {
  font-family: Inter-Black;
  src: url(/assets/font/inter/Inter-Black.ttf);
}

@font-face {
  font-family: Inter-Bold;
  src: url(/assets/font/inter/Inter-Bold.ttf);
}

@font-face {
  font-family: fa;
  src: url(/assets/font/inter/Inter-ExtraBold.ttf);
}

* {
  font-family: Inter-Regular;
}
